<div class="jumbotron">
  <span class="site-title">
    {{data.title}}
    <img src="{{data.speedData.runs.[1].firstView.pages.screenShot}}" />
  </span>

  <span class="site-url">
      {{data.url}}
  </span>
</div>

<div class="testSummary row">

    {{> testSummary }}

</div>


<hr>
<h3>Rousurce Breakdown</h3>

{{#data.pageStats}}
  <div class="row">
    <div class="col-md-4">
      <div>
          <span class="sub-heading">Total Resources</span>
            {{ numberResources}} -
            {{ totalRequestBytes }} bytes
      </div>
    </div>

    <div class="col-md-4">
       <span class="sub-heading">CSS Resources</span>
     
      {{ numberCssResources}}  - 
      {{ cssResponseBytes}} bytes

       <span class="sub-heading">JS Resources</span>

      {{ numberJsResources}}  - 
      {{ javascriptResponseBytes}} bytes

    </div>


    <div class="col-md-4">
      <div>
        <span class="sub-heading">HTML Resources</span>
        {{ htmlResponseBytes}} bytes
      </div>
      
      <div>
        <span class="sub-heading">Image Resources</span>
        {{ imageResponseBytes}} bytes
      </div>

      <div>
      <span class="sub-heading">Other Resources</span>
        {{ otherResponseBytes}} bytes
      </div>

    </div>

  </div>
{{/data.pageStats}}


{{#data.formattedResults.ruleResults}}
  <div class="row">
  <h3>Page Suggestions</h3>
    <div class="col-md-12">

      {{> block AvoidLandingPageRedirects}}

    </div>
    <div class="col-md-12">

        {{> block EnableGzipCompression}}
    </div>

     <div class="col-md-12">
   
         {{> block LeverageBrowserCaching}}

    </div>

     <div class="col-md-12">
        {{> block MainResourceServerResponseTime}}
    </div>


     <div class="col-md-12">
       {{> block MinifyCss}}
    </div>

     <div class="col-md-12">
 
      {{> block MinifyJavaScript}}

    </div>

     <div class="col-md-12">

       {{> block MinimizeRenderBlockingResources}}
    </div>

     <div class="col-md-12">

       {{> block OptimizeImages}}
    </div>


     <div class="col-md-12">
      {{> block PrioritizeVisibleContent}}

    </div>

  </div>
{{/data.formattedResults.ruleResults}}