{{#getPageLoadData id}}
<div class="row">
	<div class="col-md-2 col-md-offset-1">
		<div class="sub-heading">Minimum</div>
		{{Minimum}}
	</div>

	<div class="col-md-2">
	<div class="sub-heading">Average</div>
		{{Average}}
	</div>
	<div class="col-md-2">
	<div class="sub-heading">Maximum</div>
		{{Maximum}}
	</div>
	<div class="col-md-2">
	<div class="sub-heading">Standard Deviation</div>
		{{Deviation}}
	</div>
	<div class="col-md-2">
	<div class="sub-heading">90th Percentile</div>
		{{Percentille}}
	</div>
</div>

{{/getPageLoadData}}